Checks: >
  -*,
  modernize-*,
  -modernize-use-trailing-return-type,
  bugprone-*,
  performance-*,
  -readability-magic-numbers

CheckOptions:
  - key: modernize-use-override.IgnoreDestructors
    value: '1'